body {
  /* background-image: url('../images/fon7.jpg'); */
  background-position: center center; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
  min-height: 100vh;
  font-family: 'Roboto Condensed', sans-serif;
}

.container_ {
  display: flex;
  justify-content: center;
  color: floralwhite;
}

.defoltContent_{
  text-align: center;
  margin-top: 50px;
}

.block_for_password {
  margin-right: 50px;
}

input {
  color: black;
  font-size: 25px;
}

.defoltContent_ p {
  font-size: 22px;
  width: 800px;
  margin-bottom: 150px;
}

.menu_icon {
  width: 50px;
  height: 50px;
  position: fixed; 
  left: 50px; 
  bottom: 50px;
  cursor: pointer;
}

.arrow_right {
  width: 75px;
  height: 75px;
  position: fixed;
  right: 50px;
  bottom: 50px;
  cursor: pointer;
}

.information {
  font-size: 25px;
  color: white;
  text-align: center;
  width: 1000px;
  margin: 0 auto;
}